@tailwind base;
@tailwind components;
@tailwind utilities;

.div-index {
  position: center;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

@media (max-width: 768px) {
  /* Media query pentru ecrane de maxim 768px (exemplu: ecrane de telefon) */
  .h3 {
    margin-left: 0; /* Anulăm margin-left pentru a centra pe axa orizontală pe ecrane mobile */
  }
}

.contact {
  width: 1300px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 20px;
}

.text {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Helvetica Neue", sans-serif;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #fff;
  animation: typing 3s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite;
}

/* Animatie de tastare */
@keyframes typing {
  0% {
    width: 0;
    color: gray;
  }
  50% {
    width: 100%;
    color: white;
  }
  100% {
    width: 0;
    color: gray;
  }
}

/* Animatie de blink caret */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
