@tailwind base;
@tailwind components;
@tailwind utilities;

.div-index {
  position: center;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img1 {
  position: relative; /* Setează poziția relativă pentru a poziționa textul absolut în interiorul acestui container */
  width: 70%; /* Setează lățimea containerului la 70% */
  height: 70%; /* Setează înălțimea containerului la 70% */
  margin-left: auto; /* Plasează imaginea spre dreapta folosind margin-left: auto */
  margin-right: 50px; /* Setează marginea dreapta la 50px */
  margin-top: -150px;
}

@media (max-width: 767px) {
  /* Reguli de medii pentru ecrane cu lățime maximă de 767px (de exemplu, dispozitive mobile) */
  .img1 {
    margin-top: 45px; /* Anulează margin-top negativ pentru a plasa imaginea sub text */
    margin-bottom: 10px; /* Adaugă o margine inferioară între imagine și text */
    margin-left: 50px;
  }
}

.chart-container {
  max-width: 100px;
  margin: 0 auto;
}

.chart-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 60px;
}

.chart-subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.chart-list {
  list-style-type: decimal;
  list-style-position: inside;
  color: #555;
}

.chart-list li {
  margin-bottom: 8px;
}

.chart-name {
  font-weight: bold;
}

.chart-score {
  font-weight: bold;
  margin-right: 40px;
}

.chart-bar {
  height: 16px;
  background-color: #0070f3;
}

.hand {
  position: relative; /* Setează poziția relativă pentru a poziționa textul absolut în interiorul acestui container */
  width: 30%; /* Setează lățimea containerului la 70% */
  height: 40%; /* Setează înălțimea containerului la 70% */
  margin-left: 50px; /* Plasează imaginea spre dreapta folosind margin-left: auto */
  margin-right: 50px; /* Setează marginea dreapta la 50px */
  margin-top: -50px;
}

/* Stiluri pentru ecrane de dimensiuni mai mici, cum ar fi cele ale dispozitivelor mobile */
@media (max-width: 767px) {
  .hand {
    width: 30%; /* Setează lățimea containerului la 100% pentru a se adapta la ecranele mici */
    height: auto; /* Setează înălțimea containerului la auto pentru a se adapta la conținut */
    margin-left: 0; /* Elimină marginea stângă */
    margin-right: 0; /* Elimină marginea dreapta */
    margin-top: 0; /* Elimină marginea de sus */
  }
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

@media (max-width: 768px) {
  /* Media query pentru ecrane de maxim 768px (exemplu: ecrane de telefon) */
  .h3 {
    margin-left: 0; /* Anulăm margin-left pentru a centra pe axa orizontală pe ecrane mobile */
  }
}

.contact {
  width: 1300px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 20px;
}

.text {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-radius: 20px;
  padding: 4px;
  line-height: 1.5;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.blinking-caret {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

/* Animatie de blink caret */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
